<%- include('components/navbarTwo'); -%>

<section class = "page-header">
    <h2 class = "header"><%=to.pageTitle%></h2>
</section>

<section class = "page">
    <div class = "left-page">
        <%if(from){%>
            <% for( var i = 0; i < from.content.length; i++){%>
                <div class = "section">
                    <h3 class = "section-header"><%=from.topic%>: <%=from.language%></h3>
                    <div clss = "section-content">
                        <% for(var j = 0; j < from.content[i].rawContent.length; j++){%>
                            <%if(!from.content[i].rawContent[j].conditional){%>
                                <p><%= from.content[i].rawContent[j].rawTextContent %></p>
                            <%}%>
                            <%if(from.content[i].rawContent[j].conditional && from.content[i].rawContent[j].conditionalToLanguage == to.language){%>
                                <p><%= from.content[i].rawContent[j].rawTextContent %></p>
                            <%}%>
                        <%}%>
                    </div>
                </div>
            <%}%>
        <%}%>
    </div>
    <div class = "right-page">
        <%if(to){%>
            <% for( var i = 0; i < to.content.length; i++){%>
                <div class = "section">
                    <h3 class = "section-header"><%=to.topic%>: <%=to.language%></h3>
                    <div clss = "section-content">
                        <% for(var j = 0; j < to.content[i].rawContent.length; j++){%>
                            <%if(!to.content[i].rawContent[j].conditional){%>
                                <p><%= to.content[i].rawContent[j].rawTextContent %></p>
                            <%}%>
                            <%if(from){%>
                                <%if(to.content[i].rawContent[j].conditional && to.content[i].rawContent[j].conditionalToLanguage == from.language){%>
                                    <p><%= to.content[i].rawContent[j].rawTextContent %></p>
                                <%}%>
                            <%}%>
                        <%}%>
                    </div>
                </div>
            <%}%>
        <%}%>
    </div>
    
    <form action = "/increment" method = "post">
        <input type = "hidden" name = "curCourse" value = <%= course %>>
        <input type = "hidden" name = "curVal" value = <%= to.pageId %>>
        <button type = "submit">Next</button>
    </form>
</section>



<%- include('components/footer') %>